.header{
    display: block;
    padding:0px;
    margin:0px;
    width:100%;

}
.header>h1{
    margin:25px 5% 5px;
}

.header>ul{
    background-color: lightblue;
    width:100%;
    padding:0px;
    margin:0px;

}
.header>ul>li{
    display: inline-block;
    width:20%;
    padding:10px 2%;
    margin:auto;
    background-color: lightblue;
    text-align: center;
    
}

.header>ul>li>a{
    color:black;
    text-decoration: none;
}

/* ????? */
#hero_placehoder{
    width:50%;
    height:100px;
    background-color: brown;
    display:inline-block;
    margin:5px;
    max-height: fit-content;
}

#hero_text{
    display:inline-block;
    width:50%;

}

.hero{
    display: inline-block;
}