body{
    margin:0px;
}

.header{
    display: block;
    padding:0px;
    margin:0px;
    width:100%;

}

.header>h1{
    margin:25px 5% 5px;
}

.header>ul{
    background-color: lightblue;
    width:100%;
    padding:0px;
    margin:0px;

}
.header>ul>li{
    display: inline-block;
    width:20%;
    padding:10px 2%;
    margin:auto;
    background-color: lightblue;
    text-align: center;
    
}

.header>ul>li>a{
    color:black;
    text-decoration: none;
}

/* ????? */
#hero_placehoder{
    padding:5px;
    background-color: brown;
    display:inline-block;
    
    
}

#hero_placeholder>img{
    height:200px;
    /* display:inline-block; */
    width:40%;
    border:5px;
    margin-right:5%;
}

#hero_text{
    display:inline-block;
    width:45%;

}

.hero{
    display:flexbox;
    /* width:95%; */
    align-items:center;
    justify-content:center;
    margin:10px;
    
}

.hero>div{
    display:inline;
    vertical-align:middle;
    
}